NOTION_TOKEN=
NOTION_MEMBERS_DATABASE_ID=
NOTION_MEMBERS_DATA_SOURCE_ID=
NOTION_CHECKINS_DATABASE_ID=
NOTION_CHECKINS_DATA_SOURCE_ID=
NOTION_PAYMENTS_DATABASE_ID=
NOTION_PAYMENTS_DATA_SOURCE_ID=
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_FORM_SECRET=
APP_AUTH_SECRET=
OWNER_USERNAME=owner
OWNER_PASSWORD=
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
