NOTION_TOKEN=
NOTION_MEMBERS_DATABASE_ID=
NOTION_MEMBERS_DATA_SOURCE_ID=
NOTION_CHECKINS_DATABASE_ID=
NOTION_CHECKINS_DATA_SOURCE_ID=
NOTION_PAYMENTS_DATABASE_ID=
NOTION_PAYMENTS_DATA_SOURCE_ID=
NOTION_ADMINS_DATABASE_ID=
NOTION_ADMINS_DATA_SOURCE_ID=
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_FORM_SECRET=
APP_AUTH_SECRET=
ADMIN_USERS=
ADMIN_USERNAME=admin
ADMIN_DISPLAY_NAME=
ADMIN_PASSWORD=
